<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">I work as a Software Developer in Apptarix, with a keen interest in Mobile Application Development. I have built android applications for various devices like Amazon Fire TV,Tablets and Phones, i have also developed web application using frameworks like Angular JS, JQuery.I am an oracle certified associate java developer,who happens to play with Angular JS occasionally.</p>
            </div>
        </div>
    </div>
</section>
