<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">I work in Apptarix, were i have built android applications for various devices like Amazon Fire TV,Tablets and Phones. Although most of my works is with Android, I've been developing web apps using Angular JS and JQuery.</p>
            </div>
        </div>
    </div>
</section>
