<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>HI, I'M KARTHIK.</h1>
    <h3>A software developer with a keen interest in mobile application development.</h3>
    <br>
    <a  style="text-decoration:none;"href="https://twitter.com/{{ site.twitter_username }}">
        <i style="color:#000" class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
    </a>
    <a style="margin-left:1%;text-decoration:none;" href="https://github.com/{{ site.github_username }}">
        <i style="color:#000" class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
    </a>
    <a style="margin-left:1%;text-decoration:none;" href="https://in.linkedin.com/in/karthik-r-659298a4">
        <i style="color:#000" class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
    </a>
    <a style="margin-left:1%;text-decoration:none;" href="http://nullpointerguy.github.io/blog/">
        <i style="color:#000" class="fa fa-rss fa-3x wow bounceIn" data-wow-delay=".1s"></i>
    </a>
  </div>
</header>


